<div class="container" data-cy="u3dd86">

  <!-- Formulario para agregar o editar actividades -->
  <div *ngIf="actividadEditando; else agregar" class="form-container">
    <h3 data-cy="QDhuW4">Editar Actividad</h3>
    <input data-cy="QDhuW5" [(ngModel)]="actividadEditando.nombre" placeholder="Nombre de la actividad" class="input">
    <button data-cy="QDhuW6" (click)="guardarEdicion()" class="btn btn-save">Guardar</button>
    <button data-cy="QDhuW7" (click)="actividadEditando = null" class="btn btn-cancel">Cancelar</button>
  </div>

  <ng-template #agregar>
    <div data-cy="QDhuW8" class="form-container">
      <h3 data-cy="QDhuW1" > Agregar Actividad</h3>
      <input data-cy="QDhuW9" [(ngModel)]="nuevaActividad" placeholder="Nombre de la actividad" class="input">
      <button data-cy="QDhuW2" (click)="agregarActividad()" class="btn btn-add">Agregar</button>
    </div>
  </ng-template>

  <!-- Lista de actividades -->
  <ul data-cy="QDhuW10" class="actividades-list">
    <li data-cy="QDhuW11" *ngFor="let actividad of actividades" class="actividad-item">
      <span data-cy="QDhuW12">{{ actividad.nombre }}</span>
      <div class="actions">
        <button data-cy="QDhuW13" (click)="editarActividad(actividad)" class="btn btn-edit">Editar</button>
        <button data-cy="QDhuW14" (click)="eliminarActividad(actividad.id)" class="btn btn-delete">Eliminar</button>
      </div>
    </li>
  </ul>
</div>